* {
    padding: 0;
    margin: 0;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    border: 1px solid rgb(177, 150, 150);
    padding: 40px;
    border-radius: 10px;
    font-size: 20px;
}

.login>div {
    margin: 10px;
}

.login button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.login input {
    padding: 5px 7px;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}

.login button:active {
    transform: scale(1.1);
}

.table {
    width: 100vw;
}

.table table {
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 2.7rem;
}

.table th,
td {
    border-right: 1px solid black;
    padding: 5px 7px;
    border-bottom: 1px solid black;
}
.customer-list-screen{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.customer-list-screen .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    position: relative;
}

.top div:first-child {
    align-self: center;
}

.top div:nth-child(2) {
    margin-left: 45px;
}

.tag {
    font-size: 25px;
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.buttons>button {
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0099F7;
    border: none;
    font-weight: 700;
}

.buttons>#search {
    padding: 5px 10px;
    border-radius: 5px;
}

.input {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}

.input input {
    border: none;
    outline: none;
}

.input:hover,
#search:hover,
.buttons>button:hover {
    transform: scale(1.05);
}

.fa-search {
    cursor: pointer;
}

.fa-search:active {
    transform: scale(1.05);
}

.fa-trash,
.fa-edit {
    cursor: pointer;
}

/* Reg Form */

.reg-form {
    display: none; /* Initially hide the registration form */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(45, 187, 37, 0.548);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999; /* Ensure the registration form is above other content */
}

.reg-form form {
    min-width: 50vw;
    position: relative;
    background-color: rgba(109, 109, 48, 0.904);
    padding: 50px;
    padding-top: 100px;
    border: 2px solid black;
}

.reg-form input {
    padding: 10px;
    margin: 10px 20px;
    min-width: 400px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.reg-form .btn {
    background-color: #007AFF;
    padding: 10px 30px;
    font-weight: 700;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}

.reg-form form div:last-child {
    text-align: right;
    position: relative;
    right: 0;
}

.close-btn {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: rgb(0,0,0);
}


#sync{
    margin-left: 100px;
}